<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>

    <div class="f-info-brands">&copy; WonderLust</div>

    <div class="f-info-disclaimer">
      This is an educational project built for learning purposes and is not
      affiliated with Airbnb.
    </div>

    <div class="f-info-links">
      <a href="/privecy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
