<% layout('layouts/boilerplate') %>

<div
  class="d-flex justify-content-center align-items-center"
  style="height: 30vh"
>
  <div class="alert alert-danger text-center col-6" role="alert">
    <h4 class="alert-heading"><%= message %></h4>
  </div>
</div>
